@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lilita+One&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.img-circular{
    max-width: 100%;
    aspect-ratio: 1/1; /*fuerza a la imagen a ser cuadrada*/
    object-fit: cover;
    transition: 300ms;
}

.img-rectangular{
    max-height: 100%;
    height: 400px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-rectangular{
        max-height: 100%;
        height: 250px;
    }
}

@media (min-width: 992px) {
    .img-rectangular{
        max-height: 100%;
        height: 320px;
    }
}

.banner-principal{
    position: relative;
    display: flex;
    justify-content: center;
}

.img-banner-principal{
    width: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .img-banner-principal{
        height: 500px;
    }
}

.container-texto-banner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.336);
    inset: 0;
    height: 100%;
}

.texto-banner, h2{
    color: white;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-size: 5vw;
}

@media (min-width: 768px) {
    .texto-banner, h2{
        font-size: 3vw;
    }
}

.banner-input{
    border: 1px solid white;
    padding: 5px;
    border-radius: 8px;
    outline: none;

    &:focus{
        border: 1px solid rgb(108, 182, 252);
        box-shadow: 0 0 5px rgb(80, 171, 255);
    }
}




